#bio {
    padding: 15px 50px 40px;
    border-radius: 3px;
    width: 80%;
    min-width: 400px;
    max-width: 1200px;
    margin: 20px auto 40px;
    background-color: rgba(1, 161, 167, .1);
}

#headshot-container {
    margin: 0 auto;
    text-align: center;
}

#headshot {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    max-width: 600px;
    margin: 5px auto 20px;
    border-radius: 3px;
    box-shadow: 3px 3px 7px rgba(92, 94, 97, .3);
}

#bio-text-container {
    padding: 0;
    border-radius: 3px;
    max-width: 600px;
    text-align: center;
    margin: 5px auto;
    background-color: rgba( 5, 194, 201, .4);
    width: 100%;
}

#bio-text {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font-size: 14px;
    margin: 0 auto;
    padding: 20px 30px 10px;
    border-radius: 3px;
    color: rgba(69, 71, 74, 1);
}

#bio-title {
    font-size: 20px;
    font-variant: small-caps;
    color: rgba(92, 94, 97, 1);
    margin: 0 0 30px;
    width: 100%;
    border-radius: 3px;
    text-align: right;
}

#bio-title h1 {
    font-size: 20px;
    background-color: rgba(252, 220, 104 , .7);
    display: inline-block;
    padding: 7px 20px;
    width: 10em;
    margin: 0 -80px 0 0;
}