#contact {
    padding: 15px 50px 40px;
    border-radius: 3px;
    width: 80%;
    min-width: 400px;
    max-width: 1200px;
    margin: 40px auto;
    background-color: rgba(1, 161, 167, .1);
}

#contact-list-container {
    padding: 60px 20px;
    border-radius: 3px;
    text-align: center;
    margin: 15px 0;
    background-color: rgba( 5, 194, 201, .4);
    width: 100%;
}

#contact-title {
    font-size: 20px;
    font-variant: small-caps;
    color: rgba(92, 94, 97, 1);
    margin: 0 0 20px;
    width: 100%;
    border-radius: 3px;
    text-align: right;
}

#contact-title h1 {
    font-size: 20px;
    background-color: rgba(252, 220, 104 , .7);
    display: inline-block;
    padding: 7px 20px;
    width: 10em;
    margin: 0 -80px 0 0;
}

#contact-list  {
    list-style: none;
    padding: 0;
}

#contact-list div {
    display: inline-block;
    margin: 20px;
    color: rgba(69, 71, 74, .8);
    padding: 15px;
    background-color: rgba( 156,224,226, 1);
    border-radius: 3px;
}

#contact-list div:hover {
    color: rgba(245, 245, 245, .8);
    color: rgba(69, 71, 74, 1);
    font-weight: normal;
    transition: all .4s ease-in-out;
    transform: scale(1.15);
    border-radius: 3px;
    background-color: transparent;
}

.contact-header {
    font-size: 18px;
    font-variant: small-caps;
    margin: 0;
}

.contact-info {
    font-size: 10px;
    font-weight: bold;
}

#contact-list a {
    text-decoration: none;
}

.contact-icon {
    display: inline-block;
    border-radius: 50% !important;
    border: 3px solid rgba(69, 71, 74, .7);
    margin: 10px auto;
    padding: 10px !important;
    /* background-color: rgba( 5, 194, 201, .5) !important; */
}

.contact-icon:hover {
    background-color: transparent;
    border-radius: 3px !important;
    transition: all .4s ease-in-out;
}








