#home-page-container {
    /* background: url('/mainbackground.jpg') no-repeat fixed center;
    background-size: cover;
    height: 100vh;
    margin: 0;
    width: 80%; */
    padding: 20px;
    border-radius: 3px;
    width: 95%;
    /* min-width: 400px; */
    max-width: 1600px;
    margin: 40px auto;
    background-color: rgba(1, 161, 167, .1);
}

#home-background {
    /* background-color: rgba( 5, 194, 201, .4);
    margin: 10% auto;
    width: 80%;
    height: 80vh; */
    background: url('/mainbackground2.jpg') no-repeat center;
    background-size: cover;
    padding: 0px;
    border-radius: 3px;
    text-align: center;
    margin: 5px auto;
    /* background-color: rgba( 5, 194, 201, .4); */
    width: 100%;
}

#home {
    margin: 0px auto;
    padding: 10% 20%;
    background-color: rgba(252, 220, 104 , .7);
}

#home-text {
    border-radius: 3px;
    text-align: center;
    background-color: rgba( 5, 185, 201, .8);
    /* background-color: rgba(1, 161, 167, .85); */
    color: rgba(220,236,237, 1);
    /* color: rgba(69, 71, 74, 1); */
    padding: 20px;
    width: 60%;
    margin: 0 auto;
    min-width: 200px;
}

#home-text h1 {
    font-size: 30px;
    font-family: 'Overlock SC', 'Lexend Peta', sans-serif;
}

#home-text h2 {
    font-size: 20px;
    
    font-family: 'Overlock SC', 'Lexend Peta', sans-serif;
}

#home p {
    position: absolute;
    display: inline-block;
    max-width: 50%;
    font-size: 15px;
    top: 5px;
    left: 0;
}

#home button {
    border:  solid 2px rgba(4, 135, 151, 1);
    border-radius: 4px;
    background-color: transparent;
    color: rgba(4, 135, 155, 1);
    margin: 5px auto;
    font-variant: small-caps;
}

#home button:hover {
    transition: all .4s ease-in-out;
    transform: scale(1.2);
    background-color: rgba(90, 205, 207, .8);
    color: rgba(3, 125, 130, 1);
    border-color: rgba(3, 125, 130, 1);
    border-radius: 3px;
}

