body {
    background-color: rgba(245, 245, 245, 1);
    font-family: 'Lexend Peta', sans-serif;
    color: rgba(69, 71, 74, 1);
}

/* .back-button {
    color: rgba(69, 71, 74, 1);
    border-radius: 3px 20px; 
    margin: 20px auto;
    box-shadow: 2px 2px 8px rgba(69, 71, 74, .18);
    background-color: rgba(252, 220, 104 , .5);
    border: 3.5px solid rgba(252, 220, 104 , .7);
}

.back-button:hover {
    color: rgba(12, 11, 22, .6);
    transition: all .3s ease-in-out;
    transform: scale(1.1);
    background-color: rgba(252, 220, 104 , .7);
    border: 3.5px solid rgba(252, 220, 104 , .5);
} */