#bio {
    /* border: 5px solid rgba(253, 236, 176, .7); */
    padding: 20px;
    /* overflow-y: hidden; */
    border-radius: 5px;
    width: 100%;
    min-width: 400px;
    max-width: 1600px;
    margin: 20px auto;
    /* background-color: rgba(253, 236, 176, .9); */
    /* background-color: rgba(252, 225, 129, 1); */
    /* border: 5px solid rgba(253, 236, 176 , .3); */
    /* box-shadow: 3px 3px 7px rgba(125, 120, 101, .2); */
}

#headshot-container {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

#headshot {
    box-sizing: border-box;
    display: inline-block;
    width: 80%;
    opacity: 95%;
    max-width: 600px;
    margin: 20px auto;
    /* z-index: -1; */
    border-radius: 5px;
    box-shadow: 3px 3px 7px rgba(82, 34, 56, .3);
    border: 1px solid rgba(0, 0, 0, .3);
    background-color: rgba(0, 0, 0, .3);
    /* border: solid 1px rgba(158, 154, 140, .4); */
    /* padding: .5px; */
    /* outline: 1px solid rgba(125, 120, 101, .2); */
    /* background-color: rgba(158, 154, 140, .8); */
}

#bio-text-container {
    position: relative;
    /* border: 1.5px solid rgba(158, 154, 140, .5);  */
    box-shadow: 3px 3px 7px rgba(82, 34, 56, .3);
    padding: 0;
    border-radius: 5px 50px;
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
    /* min-width: 300px; */
    background-color: rgba(252, 220, 104 , .5);
}

#bio-text {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    text-indent: 10%;
    text-align: justify;
    font-size: 14px;
    margin: 0 auto;
    padding: 60px 20px 20px;
    /* border: 4px solid rgba(82, 34, 56, .9); */
    border-radius: 5px 50px;
    color: rgba(82, 34, 56, .75);
    border: 3px solid rgba(252, 220, 104, .7);
    color: rgba(0, 0, 0, .5);
}

#bio-title {
    font-size: 20px;
    /* margin: 0 20px; */
    /* background-color: rgba(82, 34, 56, .95); */
    background-color: rgba(95, 95, 86, 1);
    box-shadow: 3px 3px 7px rgba(82, 34, 56, .3);
    /* text-shadow: 2px 2px 3px rgba(82, 34, 56, .2); */
    padding: 10px;
    color: rgba(252, 220, 104 , .7);
    margin: 0;
    width: 100%;
    /* border: 5px solid rgba(82, 34, 56, .3); */
    border-bottom: none;
    position: absolute;
    top: 0;
    border-radius: 5px 50px 0px 0px;
    text-align: left;
}

/* .first-paragraph {
    margin-top: 20px;
} */

