#bio {
    /* border: 5px solid rgba(253, 236, 176, .7); */
    padding: 20px;
    overflow-y: hidden;
    border-radius: 5px;
    width: 80%;
    margin: 20px auto;
    background-color: rgba(253, 236, 176, .4);
    border: 5px solid rgba(253, 236, 176 , .4);
    box-shadow: 3px 3px 7px rgba(125, 120, 101, .2);
}

#headshot {
    box-sizing: border-box;
    width: 45%;
    float: left;
    margin: 0 15px 10px 0;
    border-radius: 5px;
    box-shadow: 3px 3px 7px rgba(48, 49, 49, .3);
    /* border: solid 1px rgba(158, 154, 140, .7); */
    padding: 1px;
    /* outline: 1px solid rgba(125, 120, 101, .2); */
    background-color: rgba(158, 154, 140, .6);
}


.bio-text {
    /* display: inline-block; */
    text-indent: 10%;
    text-align: justify;
}

/* .first-paragraph {
    margin-top: 20px;
} */

