#contact {
    padding: 15px 50px 75px;
    border-radius: 3px;
    width: 80%;
    min-width: 400px;
    max-width: 1600px;
    margin: 20px auto 40px;
    background-color: rgba(1, 161, 167, .1);
}

#contact-list-container {
    padding: 60px 20px;
    border-radius: 3px;
    text-align: center;
    margin: 5px 0;
    background-color: rgba( 5, 194, 201, 1);
    width: 100%;
}

#contact-title {
    font-size: 20px;
    font-variant: small-caps;
    color: rgba(92, 94, 97, 1);
    margin: 0 0 20px;
    width: 100%;
    border-radius: 3px;
    text-align: right;
}

#contact-title h1 {
    font-size: 20px;
    background-color: rgba(252, 220, 104 , .7);
    display: inline-block;
    padding: 7px 20px;
    width: 10em;
    margin: 0 -80px 0 0;
}

#contact-list  {
    list-style: none;
    padding: 0;
}

#contact-list div {
    display: inline-block;
    margin: 20px;
    color: rgba(69, 71, 74, .9);
    padding: 5px;
}

#contact-list div:hover {
    color: rgba(245, 245, 245, .9);
    font-weight: normal;
    transition: all .3s ease-in-out;
    transform: scale(1.15);
    border-radius: 3px;
}

.contact-header {
    font-size: 18px;
    font-variant: small-caps;
    margin: 0;
}

.contact-info {
    font-size: 10px;
    font-weight: bold;
}

#contact-list a {
    text-decoration: none;
}

.contact-icon {
    display: inline-block;
    border-radius: 50%;
    border: 3px solid rgba(50, 52, 53, .7);
    border: 3px solid rgba(69, 71, 74, .7);
    margin: 10px auto;
    padding: 10px !important;
}








