#header-nav {
    /* color: rgba(159, 237, 215 , 1); */
    color: rgba(69, 71, 74, 1);
    background-color: rgba( 5, 194, 201, 1);
    width: 100%;
    margin: 0 0 20px;
    font-family: 'Lexend Peta', sans-serif;
    /* box-shadow: 3px 3px 7px rgba(69, 71, 74, .2); */
}

#header-nav a {
    color: rgba(69, 71, 74, 1);
    font-size: 15px;
    margin: 0 10px;
}

#header-nav a:hover {
    color: rgba(252, 220, 104 , .85);
    /* color: rgba(245, 245, 245, .8); */
    transition: all .3s ease-in-out;
    transform: scale(1.15);
    /* font-weight: bold; */
}

#logo {
    color: rgba(69, 71, 74, 1);
    /* color: rgba(245, 245, 245, .8); */
    padding: 0;
    margin: 0 0 5px;
    /* margin-top: -5px; */
    line-height: 1.1;
    /* text-align: center; */
    
}

.logo-initials {
    color: #fcdc68e6;
}



#header-name {
    font-size: 26px;
    /* font-variant: small-caps; */
    font-family: 'Overlock SC', 'Lexend Peta', sans-serif;
    letter-spacing: .5px;
    padding: 0 0 0 3px;
}

#header-title {
    font-size: 13px;
    letter-spacing: 1px;
    padding: 0;
    /* font-variant: small-caps; */
    
}

