#header-nav {
    /* color: rgba(159, 237, 215 , 1); */
    color: #7D7865;
    background-color: rgba(253, 236, 176, .5);
    width: 100%;
    margin: 0 0 20px;
    font-family: 'Lexend Peta', sans-serif;
    box-shadow: 3px 3px 7px rgba(125, 120, 101, .2);
    /* border-bottom: 5px solid rgba(253, 236, 176 , .4);
    border-top: 5px solid rgba(253, 236, 176 , .4); */
}


#header-nav a {
    color: #7D7865;
}

#header-nav a:hover {
    color: #7D7865;
}

#logo {
    padding: 0;
    margin: 0;
    margin-top: -5px;
    /* text-align: center; */
}

#header-name {
    font-size: 30px;
    font-variant: small-caps;
}

#header-title {
    font-size: 17px;
}

