#header-nav {
    /* color: rgba(159, 237, 215 , 1); */
    color: rgba(69, 71, 74, 1);
    background-color: rgba( 5, 194, 201, 1);
    width: 100%;
    margin: 0 0 20px;
    font-family: 'Lexend Peta', sans-serif;
    /* box-shadow: 3px 3px 7px rgba(125, 120, 101, .2); */
    /* border-bottom: 5px solid rgba(253, 236, 176 , .4);
    border-top: 5px solid rgba(253, 236, 176 , .4); */
}

#header-nav a {
    color: rgba(69, 71, 74, 1);
}

#header-nav a:hover {
    color: rgba(252, 220, 104 , .9)
}

#logo {
    color: rgba(69, 71, 74, 1);
    /* color: rgba(245, 245, 245, .8); */
    padding: 0;
    margin: 0 0 5px;
    /* margin-top: -5px; */
    line-height: 1.2;
    /* text-align: center; */
    
}

.logo-initials {
    color: #fcdc68e6;
}



#header-name {
    font-size: 28px;
    /* font-variant: small-caps; */
    font-family: 'Overlock SC', 'Lexend Peta', sans-serif;
    letter-spacing: .5px;
}

#header-title {
    font-size: 13px;
    letter-spacing: 1px;
    /* font-variant: small-caps; */
    
}

