#header-nav {
    color: rgba(69, 71, 74, 1);
    background-color: rgba( 5, 194, 201, 1);
    width: 100%;
    margin: 0 0 20px;
    font-family: 'Lexend Peta', sans-serif;
}

#header-nav-links a {
    /* color: rgba(69, 71, 74, 1); */
    color: rgba(245, 245, 245, 1);
    font-size: 15px;
    letter-spacing: 1.5px;
    margin: 0 5px;
}

#header-nav-links a:hover {
    color: rgba(252, 220, 104 , 1);
    transition: all .3s ease-in-out;
    transform: scale(1.2);
}

#logo {
    color: rgba(69, 71, 74, 1);
    padding: 0;
    margin: 0 0 5px;
    line-height: 1.1;
}

.logo-initials {
    color: #fcdc68e6;
}

#header-name {
    font-size: 28px;
    font-family: 'Overlock SC', 'Lexend Peta', sans-serif;
    letter-spacing: .5px;
    padding: 0 0 0 3px;
}

#header-title {
    font-size: 13px;
    letter-spacing: 1px;
    padding: 0;
}

