#menu {
    width: 50%;
    height: 0;
    padding-bottom: 40%;
    border: 3px solid teal;
    margin: 30px auto;
    position: relative;
    min-width: 400px;
    min-height: 350px;
}

.hide {
    display: none;
}

.menu-item {
    position: absolute;
    display: table;
    height: 15%;
    width: 20%;
    background-image: url("https://www.pexels.com/photo/animal-cat-face-close-up-feline-416160/");
    border: 1px dashed black;
    border-radius: 45%;
    background-color: rgba(252, 225, 129, 1); 
}

.menu-filler {
    position: absolute;
    height: 10%;
    width: 10%;
    background-image: url("https://www.pexels.com/photo/animal-cat-face-close-up-feline-416160/");
    border: 1px dashed black;
    background-color: rgba(252, 225, 129, 1); 
}

#menu-center {
    background-image: url("https://www.pexels.com/photo/animal-cat-face-close-up-feline-416160/");
    position: absolute;
    display: table;
    height: 30%;
    width: 50%;
    background-image: url("https://www.pexels.com/photo/animal-cat-face-close-up-feline-416160/");
    border: 1px dashed black;
    border-radius: 47%;
    left: 25%;
    top: 35%;
    background-color: rgba(252, 225, 129, 1); 
}

#menu-name {
    text-align: center;
    font-size: 2vw;
}

#menu-title {
    font-size: 15px;
    text-align: center;
    font-size: 1vw;
}

#item-1 {
    left: 40%;
}

#item-2 {
    top: 42.5%;
}

#item-3 {
    top: 42.5%;
    right: 0;
}

#item-4 {
    left: 40%;
    bottom: 0;
}

#item-5 {
    left: 15%;
    top: 15%;
    border-radius: 0 50% 50%;
}

#item-6 {
    right: 15%;
    top: 15%;
    border-radius: 50% 0 50% 50%;
}

#item-7 {
    left: 15%;
    bottom: 15%;
    border-radius: 50% 50% 50% 0;
}

#item-8 {
    right: 15%;
    bottom: 15%;
    border-radius: 50% 50% 0 50%;
}

.menu-item h2 {
    display: table-cell;
    vertical-align: middle;
    line-height: 20%;
    width: 20%;
    height: 20%;
    text-align: center;
    font-size: 18px;
}

#menu-center-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}


