#projects {
    padding: 15px 40px 40px;
    border-radius: 3px;
    width: 80%;
    min-width: 400px;
    max-width: 1200px;
    margin: 20px auto 40px;
    background-color: rgba(1, 161, 167, .1);
}

#projects-list-container {
    border-radius: 3px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 0;
}

#projects-title {
    font-size: 20px;
    font-variant: small-caps;
    color: rgba(92, 94, 97, 1);
    margin: 0 0 15px;
    width: 100%;
    border-radius: 3px;
    text-align: right;
}

#projects-title h1 {
    font-size: 20px;
    background-color: rgba(252, 220, 104 , .7);
    display: inline-block;
    padding: 7px 20px;
    width: 10em;
    margin: 0 -70px 0 0;
    
}

.project-list-item {
    border-radius: 3px;
    width: 100%;
    margin: 20px 10px;
    background-color: rgba( 5, 194, 201, .4);
    color: rgba(69, 71, 74, 1);
    padding: 15px 0;
}

.project-list-item:hover {
    transition: all .4s ease-in-out;
    transform: scale(1.05);
    box-shadow: 3px 3px 7px rgba(92, 94, 97, .2);
    border-radius: 1px;
}

.project-list-item:hover img {
    opacity: 100%;
    transition: all .5s ease-in-out;
}

.project-list-col {
    min-width: 250px;
    display: flex;
}

.project-list-stack {
    font-size: 17px;
    font-variant: small-caps;
}

.project-list-type {
    font-size: 13px;
    font-style: italic;
}

.project-list-title-container {
    height: 4em;
    margin: 0px auto;
    display: table;
    padding: 5px;
}

.project-list-title {
    font-family: 'Overlock SC', 'Lexend Peta', sans-serif;
    font-size: 22px;
    display: table-cell;
    vertical-align: middle;
}

.project-thumbnail {
    width: 90%;
    margin: 5px auto;
    box-shadow: 3px 3px 7px rgba(92, 94, 97, .2);
    border-radius: 2px;
    opacity: 75%;
}

.view-project-button {
    padding: 7px 10px;
    width: 107%;
    letter-spacing: 1px;
    font-size: 17px;
    font-variant: small-caps;
    border: none;
    margin: 5px -10%;
    background-color:  rgba( 5, 194, 201, .5);
    color: rgba(245, 245, 245, .9);
    box-shadow: 3px 3px 7px rgba(92, 94, 97, .1);
}

.view-project-button:hover {
    background-color: rgba(252, 220, 104 , .75);
    color: rgba(69, 71, 74, .75);
    font-variant: small-caps;
    transition: all .3s ease-in-out;
    transform: scale(1.05);
    position: relative;
}

.hide {
    display: none;
    position: absolute;
    top: 3px;
    margin-left: 2px;
    color: rgba(69, 71, 74, .6);
    font-size: 10px;
}

.view-project-button:hover > .hide {
    display: inline-block;
  }






